In [5]:
import numpy as np
import pandas as pd

In [6]:
movies=pd.read_csv('tmdb_5000_movies.csv')
credits=pd.read_csv('tmdb_5000_credits.csv')

In [7]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [8]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [12]:
movies=movies.merge(credits,on='title')

In [14]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,tagline,title,vote_average,vote_count,movie_id_x,cast_x,crew_x,movie_id_y,cast_y,crew_y
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [15]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4821 entries, 0 to 4820
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4821 non-null   int64
 1   genres                4821 non-null   object
 2   homepage              1715 non-null   object
 3   id                    4821 non-null   int64
 4   keywords              4821 non-null   object
 5   original_language     4821 non-null   object
 6   original_title        4821 non-null   object
 7   overview              4818 non-null   object
 8   popularity            4821 non-null   float64
 9   production_companies  4821 non-null   object
 10  production_countries  4821 non-null   object
 11  release_date          4820 non-null   object
 12  revenue               4821 non-null   int64
 13  runtime               4819 non-null   float64
 14  spoken_languages      4821 non-null   object
 15  status                4821 non-null   object
 16  tagline               3977 non-null   object
 17  title                 4821 non-null   object
 18  vote_average          4821 non-null   float64
 19  vote_count            4821 non-null   int64
 20  movie_id_x            4821 non-null   int64
 21  cast_x                4821 non-null   object
 22  crew_x                4821 non-null   object
 23  movie_id_y            4821 non-null   int64
 24  cast_y                4821 non-null   object
 25  crew_y                4821 non-null   object
dtypes: float64(3), int64(6), object(17)
memory usage: 979.4+ KB

In [17]:
#genres
#id
#keywords
#title
#overview
#cast
#crew
movies=movies[['id','title','overview','genres','keywords','cast_x','crew_y','cast_y','crew_y','movie_id_x','movie_id_y']]

In [18]:
movies.head()

,id,title,overview,genres,keywords,cast_x,crew_y,cast_y,crew_y,movie_id_x,movie_id_y
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",19995,19995
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",285,285
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",206647,206647
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",49026,49026
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",49529,49529

In [23]:
movies.isnull().sum()

id            0
title         0
overview      0
genres        0
keywords      0
cast_x        0
crew_y        0
cast_y        0
crew_y        0
movie_id_x    0
movie_id_y    0
dtype: int64

In [22]:
movies.dropna(inplace=True)

In [25]:
movies.duplicated().sum()

np.int64(0)

In [26]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [30]:
import ast 

def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [36]:
movies['genres']=movies['genres'].apply(convert)

In [37]:
movies.head()

,id,title,overview,genres,keywords,cast_x,crew_y,cast_y,crew_y,movie_id_x,movie_id_y
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",19995,19995
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",285,285
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",206647,206647
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",49026,49026
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",49529,49529

In [34]:
movies['keywords']=movies['keywords'].apply(convert)

In [38]:
movies.head()

,id,title,overview,genres,keywords,cast_x,crew_y,cast_y,crew_y,movie_id_x,movie_id_y
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",19995,19995
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",285,285
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",206647,206647
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",49026,49026
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",49529,49529

In [39]:
movies['cast_x'][0]

'[{"cast_id": 242, "character": "Jake Sully", "credit_id": "5602a8a7c3a3685532001c9a", "gender": 2, "id": 65731, "name": "Sam Worthington", "order": 0}, {"cast_id": 3, "character": "Neytiri", "credit_id": "52fe48009251416c750ac9cb", "gender": 1, "id": 8691, "name": "Zoe Saldana", "order": 1}, {"cast_id": 25, "character": "Dr. Grace Augustine", "credit_id": "52fe48009251416c750aca39", "gender": 1, "id": 10205, "name": "Sigourney Weaver", "order": 2}, {"cast_id": 4, "character": "Col. Quaritch", "credit_id": "52fe48009251416c750ac9cf", "gender": 2, "id": 32747, "name": "Stephen Lang", "order": 3}, {"cast_id": 5, "character": "Trudy Chacon", "credit_id": "52fe48009251416c750ac9d3", "gender": 1, "id": 17647, "name": "Michelle Rodriguez", "order": 4}, {"cast_id": 8, "character": "Selfridge", "credit_id": "52fe48009251416c750ac9e1", "gender": 2, "id": 1771, "name": "Giovanni Ribisi", "order": 5}, {"cast_id": 7, "character": "Norm Spellman", "credit_id": "52fe48009251416c750ac9dd", "gender": 2, "id": 59231, "name": "Joel David Moore", "order": 6}, {"cast_id": 9, "character": "Moat", "credit_id": "52fe48009251416c750ac9e5", "gender": 1, "id": 30485, "name": "CCH Pounder", "order": 7}, {"cast_id": 11, "character": "Eytukan", "credit_id": "52fe48009251416c750ac9ed", "gender": 2, "id": 15853, "name": "Wes Studi", "order": 8}, {"cast_id": 10, "character": "Tsu\'Tey", "credit_id": "52fe48009251416c750ac9e9", "gender": 2, "id": 10964, "name": "Laz Alonso", "order": 9}, {"cast_id": 12, "character": "Dr. Max Patel", "credit_id": "52fe48009251416c750ac9f1", "gender": 2, "id": 95697, "name": "Dileep Rao", "order": 10}, {"cast_id": 13, "character": "Lyle Wainfleet", "credit_id": "52fe48009251416c750ac9f5", "gender": 2, "id": 98215, "name": "Matt Gerald", "order": 11}, {"cast_id": 32, "character": "Private Fike", "credit_id": "52fe48009251416c750aca5b", "gender": 2, "id": 154153, "name": "Sean Anthony Moran", "order": 12}, {"cast_id": 33, "character": "Cryo Vault Med Tech", "credit_id": "52fe48009251416c750aca5f", "gender": 2, "id": 397312, "name": "Jason Whyte", "order": 13}, {"cast_id": 34, "character": "Venture Star Crew Chief", "credit_id": "52fe48009251416c750aca63", "gender": 2, "id": 42317, "name": "Scott Lawrence", "order": 14}, {"cast_id": 35, "character": "Lock Up Trooper", "credit_id": "52fe48009251416c750aca67", "gender": 2, "id": 986734, "name": "Kelly Kilgour", "order": 15}, {"cast_id": 36, "character": "Shuttle Pilot", "credit_id": "52fe48009251416c750aca6b", "gender": 0, "id": 1207227, "name": "James Patrick Pitt", "order": 16}, {"cast_id": 37, "character": "Shuttle Co-Pilot", "credit_id": "52fe48009251416c750aca6f", "gender": 0, "id": 1180936, "name": "Sean Patrick Murphy", "order": 17}, {"cast_id": 38, "character": "Shuttle Crew Chief", "credit_id": "52fe48009251416c750aca73", "gender": 2, "id": 1019578, "name": "Peter Dillon", "order": 18}, {"cast_id": 39, "character": "Tractor Operator / Troupe", "credit_id": "52fe48009251416c750aca77", "gender": 0, "id": 91443, "name": "Kevin Dorman", "order": 19}, {"cast_id": 40, "character": "Dragon Gunship Pilot", "credit_id": "52fe48009251416c750aca7b", "gender": 2, "id": 173391, "name": "Kelson Henderson", "order": 20}, {"cast_id": 41, "character": "Dragon Gunship Gunner", "credit_id": "52fe48009251416c750aca7f", "gender": 0, "id": 1207236, "name": "David Van Horn", "order": 21}, {"cast_id": 42, "character": "Dragon Gunship Navigator", "credit_id": "52fe48009251416c750aca83", "gender": 0, "id": 215913, "name": "Jacob Tomuri", "order": 22}, {"cast_id": 43, "character": "Suit #1", "credit_id": "52fe48009251416c750aca87", "gender": 0, "id": 143206, "name": "Michael Blain-Rozgay", "order": 23}, {"cast_id": 44, "character": "Suit #2", "credit_id": "52fe48009251416c750aca8b", "gender": 2, "id": 169676, "name": "Jon Curry", "order": 24}, {"cast_id": 46, "character": "Ambient Room Tech", "credit_id": "52fe48009251416c750aca8f", "gender": 0, "id": 1048610, "name": "Luke Hawker", "order": 25}, {"cast_id": 47, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48009251416c750aca93", "gender": 0, "id": 42288, "name": "Woody Schultz", "order": 26}, {"cast_id": 48, "character": "Horse Clan Leader", "credit_id": "52fe48009251416c750aca97", "gender": 2, "id": 68278, "name": "Peter Mensah", "order": 27}, {"cast_id": 49, "character": "Link Room Tech", "credit_id": "52fe48009251416c750aca9b", "gender": 0, "id": 1207247, "name": "Sonia Yee", "order": 28}, {"cast_id": 50, "character": "Basketball Avatar / Troupe", "credit_id": "52fe48009251416c750aca9f", "gender": 1, "id": 1207248, "name": "Jahnel Curfman", "order": 29}, {"cast_id": 51, "character": "Basketball Avatar", "credit_id": "52fe48009251416c750acaa3", "gender": 0, "id": 89714, "name": "Ilram Choi", "order": 30}, {"cast_id": 52, "character": "Na\'vi Child", "credit_id": "52fe48009251416c750acaa7", "gender": 0, "id": 1207249, "name": "Kyla Warren", "order": 31}, {"cast_id": 53, "character": "Troupe", "credit_id": "52fe48009251416c750acaab", "gender": 0, "id": 1207250, "name": "Lisa Roumain", "order": 32}, {"cast_id": 54, "character": "Troupe", "credit_id": "52fe48009251416c750acaaf", "gender": 1, "id": 83105, "name": "Debra Wilson", "order": 33}, {"cast_id": 57, "character": "Troupe", "credit_id": "52fe48009251416c750acabb", "gender": 0, "id": 1207253, "name": "Chris Mala", "order": 34}, {"cast_id": 55, "character": "Troupe", "credit_id": "52fe48009251416c750acab3", "gender": 0, "id": 1207251, "name": "Taylor Kibby", "order": 35}, {"cast_id": 56, "character": "Troupe", "credit_id": "52fe48009251416c750acab7", "gender": 0, "id": 1207252, "name": "Jodie Landau", "order": 36}, {"cast_id": 58, "character": "Troupe", "credit_id": "52fe48009251416c750acabf", "gender": 0, "id": 1207254, "name": "Julie Lamm", "order": 37}, {"cast_id": 59, "character": "Troupe", "credit_id": "52fe48009251416c750acac3", "gender": 0, "id": 1207257, "name": "Cullen B. Madden", "order": 38}, {"cast_id": 60, "character": "Troupe", "credit_id": "52fe48009251416c750acac7", "gender": 0, "id": 1207259, "name": "Joseph Brady Madden", "order": 39}, {"cast_id": 61, "character": "Troupe", "credit_id": "52fe48009251416c750acacb", "gender": 0, "id": 1207262, "name": "Frankie Torres", "order": 40}, {"cast_id": 62, "character": "Troupe", "credit_id": "52fe48009251416c750acacf", "gender": 1, "id": 1158600, "name": "Austin Wilson", "order": 41}, {"cast_id": 63, "character": "Troupe", "credit_id": "52fe48019251416c750acad3", "gender": 1, "id": 983705, "name": "Sara Wilson", "order": 42}, {"cast_id": 64, "character": "Troupe", "credit_id": "52fe48019251416c750acad7", "gender": 0, "id": 1207263, "name": "Tamica Washington-Miller", "order": 43}, {"cast_id": 65, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadb", "gender": 1, "id": 1145098, "name": "Lucy Briant", "order": 44}, {"cast_id": 66, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadf", "gender": 2, "id": 33305, "name": "Nathan Meister", "order": 45}, {"cast_id": 67, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae3", "gender": 0, "id": 1207264, "name": "Gerry Blair", "order": 46}, {"cast_id": 68, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae7", "gender": 2, "id": 33311, "name": "Matthew Chamberlain", "order": 47}, {"cast_id": 69, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaeb", "gender": 0, "id": 1207265, "name": "Paul Yates", "order": 48}, {"cast_id": 70, "character": "Op Center Duty Officer", "credit_id": "52fe48019251416c750acaef", "gender": 0, "id": 1207266, "name": "Wray Wilson", "order": 49}, {"cast_id": 71, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaf3", "gender": 2, "id": 54492, "name": "James Gaylyn", "order": 50}, {"cast_id": 72, "character": "Dancer", "credit_id": "52fe48019251416c750acaf7", "gender": 0, "id": 1207267, "name": "Melvin Leno Clark III", "order": 51}, {"cast_id": 73, "character": "Dancer", "credit_id": "52fe48019251416c750acafb", "gender": 0, "id": 1207268, "name": "Carvon Futrell", "order": 52}, {"cast_id": 74, "character": "Dancer", "credit_id": "52fe48019251416c750acaff", "gender": 0, "id": 1207269, "name": "Brandon Jelkes", "order": 53}, {"cast_id": 75, "character": "Dancer", "credit_id": "52fe48019251416c750acb03", "gender": 0, "id": 1207270, "name": "Micah Moch", "order": 54}, {"cast_id": 76, "character": "Dancer", "credit_id": "52fe48019251416c750acb07", "gender": 0, "id": 1207271, "name": "Hanniyah Muhammad", "order": 55}, {"cast_id": 77, "character": "Dancer", "credit_id": "52fe48019251416c750acb0b", "gender": 0, "id": 1207272, "name": "Christopher Nolen", "order": 56}, {"cast_id": 78, "character": "Dancer", "credit_id": "52fe48019251416c750acb0f", "gender": 0, "id": 1207273, "name": "Christa Oliver", "order": 57}, {"cast_id": 79, "character": "Dancer", "credit_id": "52fe48019251416c750acb13", "gender": 0, "id": 1207274, "name": "April Marie Thomas", "order": 58}, {"cast_id": 80, "character": "Dancer", "credit_id": "52fe48019251416c750acb17", "gender": 0, "id": 1207275, "name": "Bravita A. Threatt", "order": 59}, {"cast_id": 81, "character": "Mining Chief (uncredited)", "credit_id": "52fe48019251416c750acb1b", "gender": 0, "id": 1207276, "name": "Colin Bleasdale", "order": 60}, {"cast_id": 82, "character": "Veteran Miner (uncredited)", "credit_id": "52fe48019251416c750acb1f", "gender": 0, "id": 107969, "name": "Mike Bodnar", "order": 61}, {"cast_id": 83, "character": "Richard (uncredited)", "credit_id": "52fe48019251416c750acb23", "gender": 0, "id": 1207278, "name": "Matt Clayton", "order": 62}, {"cast_id": 84, "character": "Nav\'i (uncredited)", "credit_id": "52fe48019251416c750acb27", "gender": 1, "id": 147898, "name": "Nicole Dionne", "order": 63}, {"cast_id": 85, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2b", "gender": 0, "id": 1207280, "name": "Jamie Harrison", "order": 64}, {"cast_id": 86, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2f", "gender": 0, "id": 1207281, "name": "Allan Henry", "order": 65}, {"cast_id": 87, "character": "Ground Technician (uncredited)", "credit_id": "52fe48019251416c750acb33", "gender": 2, "id": 1207282, "name": "Anthony Ingruber", "order": 66}, {"cast_id": 88, "character": "Flight Crew Mechanic (uncredited)", "credit_id": "52fe48019251416c750acb37", "gender": 0, "id": 1207283, "name": "Ashley Jeffery", "order": 67}, {"cast_id": 14, "character": "Samson Pilot", "credit_id": "52fe48009251416c750ac9f9", "gender": 0, "id": 98216, "name": "Dean Knowsley", "order": 68}, {"cast_id": 89, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb3b", "gender": 0, "id": 1201399, "name": "Joseph Mika-Hunt", "order": 69}, {"cast_id": 90, "character": "Banshee (uncredited)", "credit_id": "52fe48019251416c750acb3f", "gender": 0, "id": 236696, "name": "Terry Notary", "order": 70}, {"cast_id": 91, "character": "Soldier (uncredited)", "credit_id": "52fe48019251416c750acb43", "gender": 0, "id": 1207287, "name": "Kai Pantano", "order": 71}, {"cast_id": 92, "character": "Blast Technician (uncredited)", "credit_id": "52fe48019251416c750acb47", "gender": 0, "id": 1207288, "name": "Logan Pithyou", "order": 72}, {"cast_id": 93, "character": "Vindum Raah (uncredited)", "credit_id": "52fe48019251416c750acb4b", "gender": 0, "id": 1207289, "name": "Stuart Pollock", "order": 73}, {"cast_id": 94, "character": "Hero (uncredited)", "credit_id": "52fe48019251416c750acb4f", "gender": 0, "id": 584868, "name": "Raja", "order": 74}, {"cast_id": 95, "character": "Ops Centreworker (uncredited)", "credit_id": "52fe48019251416c750acb53", "gender": 0, "id": 1207290, "name": "Gareth Ruck", "order": 75}, {"cast_id": 96, "character": "Engineer (uncredited)", "credit_id": "52fe48019251416c750acb57", "gender": 0, "id": 1062463, "name": "Rhian Sheehan", "order": 76}, {"cast_id": 97, "character": "Col. Quaritch\'s Mech Suit (uncredited)", "credit_id": "52fe48019251416c750acb5b", "gender": 0, "id": 60656, "name": "T. J. Storm", "order": 77}, {"cast_id": 98, "character": "Female Marine (uncredited)", "credit_id": "52fe48019251416c750acb5f", "gender": 0, "id": 1207291, "name": "Jodie Taylor", "order": 78}, {"cast_id": 99, "character": "Ikran Clan Leader (uncredited)", "credit_id": "52fe48019251416c750acb63", "gender": 1, "id": 1186027, "name": "Alicia Vela-Bailey", "order": 79}, {"cast_id": 100, "character": "Geologist (uncredited)", "credit_id": "52fe48019251416c750acb67", "gender": 0, "id": 1207292, "name": "Richard Whiteside", "order": 80}, {"cast_id": 101, "character": "Na\'vi (uncredited)", "credit_id": "52fe48019251416c750acb6b", "gender": 0, "id": 103259, "name": "Nikie Zambo", "order": 81}, {"cast_id": 102, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48019251416c750acb6f", "gender": 1, "id": 42286, "name": "Julene Renee", "order": 82}]'

In [40]:
movies['cast_y'][0]

'[{"cast_id": 242, "character": "Jake Sully", "credit_id": "5602a8a7c3a3685532001c9a", "gender": 2, "id": 65731, "name": "Sam Worthington", "order": 0}, {"cast_id": 3, "character": "Neytiri", "credit_id": "52fe48009251416c750ac9cb", "gender": 1, "id": 8691, "name": "Zoe Saldana", "order": 1}, {"cast_id": 25, "character": "Dr. Grace Augustine", "credit_id": "52fe48009251416c750aca39", "gender": 1, "id": 10205, "name": "Sigourney Weaver", "order": 2}, {"cast_id": 4, "character": "Col. Quaritch", "credit_id": "52fe48009251416c750ac9cf", "gender": 2, "id": 32747, "name": "Stephen Lang", "order": 3}, {"cast_id": 5, "character": "Trudy Chacon", "credit_id": "52fe48009251416c750ac9d3", "gender": 1, "id": 17647, "name": "Michelle Rodriguez", "order": 4}, {"cast_id": 8, "character": "Selfridge", "credit_id": "52fe48009251416c750ac9e1", "gender": 2, "id": 1771, "name": "Giovanni Ribisi", "order": 5}, {"cast_id": 7, "character": "Norm Spellman", "credit_id": "52fe48009251416c750ac9dd", "gender": 2, "id": 59231, "name": "Joel David Moore", "order": 6}, {"cast_id": 9, "character": "Moat", "credit_id": "52fe48009251416c750ac9e5", "gender": 1, "id": 30485, "name": "CCH Pounder", "order": 7}, {"cast_id": 11, "character": "Eytukan", "credit_id": "52fe48009251416c750ac9ed", "gender": 2, "id": 15853, "name": "Wes Studi", "order": 8}, {"cast_id": 10, "character": "Tsu\'Tey", "credit_id": "52fe48009251416c750ac9e9", "gender": 2, "id": 10964, "name": "Laz Alonso", "order": 9}, {"cast_id": 12, "character": "Dr. Max Patel", "credit_id": "52fe48009251416c750ac9f1", "gender": 2, "id": 95697, "name": "Dileep Rao", "order": 10}, {"cast_id": 13, "character": "Lyle Wainfleet", "credit_id": "52fe48009251416c750ac9f5", "gender": 2, "id": 98215, "name": "Matt Gerald", "order": 11}, {"cast_id": 32, "character": "Private Fike", "credit_id": "52fe48009251416c750aca5b", "gender": 2, "id": 154153, "name": "Sean Anthony Moran", "order": 12}, {"cast_id": 33, "character": "Cryo Vault Med Tech", "credit_id": "52fe48009251416c750aca5f", "gender": 2, "id": 397312, "name": "Jason Whyte", "order": 13}, {"cast_id": 34, "character": "Venture Star Crew Chief", "credit_id": "52fe48009251416c750aca63", "gender": 2, "id": 42317, "name": "Scott Lawrence", "order": 14}, {"cast_id": 35, "character": "Lock Up Trooper", "credit_id": "52fe48009251416c750aca67", "gender": 2, "id": 986734, "name": "Kelly Kilgour", "order": 15}, {"cast_id": 36, "character": "Shuttle Pilot", "credit_id": "52fe48009251416c750aca6b", "gender": 0, "id": 1207227, "name": "James Patrick Pitt", "order": 16}, {"cast_id": 37, "character": "Shuttle Co-Pilot", "credit_id": "52fe48009251416c750aca6f", "gender": 0, "id": 1180936, "name": "Sean Patrick Murphy", "order": 17}, {"cast_id": 38, "character": "Shuttle Crew Chief", "credit_id": "52fe48009251416c750aca73", "gender": 2, "id": 1019578, "name": "Peter Dillon", "order": 18}, {"cast_id": 39, "character": "Tractor Operator / Troupe", "credit_id": "52fe48009251416c750aca77", "gender": 0, "id": 91443, "name": "Kevin Dorman", "order": 19}, {"cast_id": 40, "character": "Dragon Gunship Pilot", "credit_id": "52fe48009251416c750aca7b", "gender": 2, "id": 173391, "name": "Kelson Henderson", "order": 20}, {"cast_id": 41, "character": "Dragon Gunship Gunner", "credit_id": "52fe48009251416c750aca7f", "gender": 0, "id": 1207236, "name": "David Van Horn", "order": 21}, {"cast_id": 42, "character": "Dragon Gunship Navigator", "credit_id": "52fe48009251416c750aca83", "gender": 0, "id": 215913, "name": "Jacob Tomuri", "order": 22}, {"cast_id": 43, "character": "Suit #1", "credit_id": "52fe48009251416c750aca87", "gender": 0, "id": 143206, "name": "Michael Blain-Rozgay", "order": 23}, {"cast_id": 44, "character": "Suit #2", "credit_id": "52fe48009251416c750aca8b", "gender": 2, "id": 169676, "name": "Jon Curry", "order": 24}, {"cast_id": 46, "character": "Ambient Room Tech", "credit_id": "52fe48009251416c750aca8f", "gender": 0, "id": 1048610, "name": "Luke Hawker", "order": 25}, {"cast_id": 47, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48009251416c750aca93", "gender": 0, "id": 42288, "name": "Woody Schultz", "order": 26}, {"cast_id": 48, "character": "Horse Clan Leader", "credit_id": "52fe48009251416c750aca97", "gender": 2, "id": 68278, "name": "Peter Mensah", "order": 27}, {"cast_id": 49, "character": "Link Room Tech", "credit_id": "52fe48009251416c750aca9b", "gender": 0, "id": 1207247, "name": "Sonia Yee", "order": 28}, {"cast_id": 50, "character": "Basketball Avatar / Troupe", "credit_id": "52fe48009251416c750aca9f", "gender": 1, "id": 1207248, "name": "Jahnel Curfman", "order": 29}, {"cast_id": 51, "character": "Basketball Avatar", "credit_id": "52fe48009251416c750acaa3", "gender": 0, "id": 89714, "name": "Ilram Choi", "order": 30}, {"cast_id": 52, "character": "Na\'vi Child", "credit_id": "52fe48009251416c750acaa7", "gender": 0, "id": 1207249, "name": "Kyla Warren", "order": 31}, {"cast_id": 53, "character": "Troupe", "credit_id": "52fe48009251416c750acaab", "gender": 0, "id": 1207250, "name": "Lisa Roumain", "order": 32}, {"cast_id": 54, "character": "Troupe", "credit_id": "52fe48009251416c750acaaf", "gender": 1, "id": 83105, "name": "Debra Wilson", "order": 33}, {"cast_id": 57, "character": "Troupe", "credit_id": "52fe48009251416c750acabb", "gender": 0, "id": 1207253, "name": "Chris Mala", "order": 34}, {"cast_id": 55, "character": "Troupe", "credit_id": "52fe48009251416c750acab3", "gender": 0, "id": 1207251, "name": "Taylor Kibby", "order": 35}, {"cast_id": 56, "character": "Troupe", "credit_id": "52fe48009251416c750acab7", "gender": 0, "id": 1207252, "name": "Jodie Landau", "order": 36}, {"cast_id": 58, "character": "Troupe", "credit_id": "52fe48009251416c750acabf", "gender": 0, "id": 1207254, "name": "Julie Lamm", "order": 37}, {"cast_id": 59, "character": "Troupe", "credit_id": "52fe48009251416c750acac3", "gender": 0, "id": 1207257, "name": "Cullen B. Madden", "order": 38}, {"cast_id": 60, "character": "Troupe", "credit_id": "52fe48009251416c750acac7", "gender": 0, "id": 1207259, "name": "Joseph Brady Madden", "order": 39}, {"cast_id": 61, "character": "Troupe", "credit_id": "52fe48009251416c750acacb", "gender": 0, "id": 1207262, "name": "Frankie Torres", "order": 40}, {"cast_id": 62, "character": "Troupe", "credit_id": "52fe48009251416c750acacf", "gender": 1, "id": 1158600, "name": "Austin Wilson", "order": 41}, {"cast_id": 63, "character": "Troupe", "credit_id": "52fe48019251416c750acad3", "gender": 1, "id": 983705, "name": "Sara Wilson", "order": 42}, {"cast_id": 64, "character": "Troupe", "credit_id": "52fe48019251416c750acad7", "gender": 0, "id": 1207263, "name": "Tamica Washington-Miller", "order": 43}, {"cast_id": 65, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadb", "gender": 1, "id": 1145098, "name": "Lucy Briant", "order": 44}, {"cast_id": 66, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadf", "gender": 2, "id": 33305, "name": "Nathan Meister", "order": 45}, {"cast_id": 67, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae3", "gender": 0, "id": 1207264, "name": "Gerry Blair", "order": 46}, {"cast_id": 68, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae7", "gender": 2, "id": 33311, "name": "Matthew Chamberlain", "order": 47}, {"cast_id": 69, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaeb", "gender": 0, "id": 1207265, "name": "Paul Yates", "order": 48}, {"cast_id": 70, "character": "Op Center Duty Officer", "credit_id": "52fe48019251416c750acaef", "gender": 0, "id": 1207266, "name": "Wray Wilson", "order": 49}, {"cast_id": 71, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaf3", "gender": 2, "id": 54492, "name": "James Gaylyn", "order": 50}, {"cast_id": 72, "character": "Dancer", "credit_id": "52fe48019251416c750acaf7", "gender": 0, "id": 1207267, "name": "Melvin Leno Clark III", "order": 51}, {"cast_id": 73, "character": "Dancer", "credit_id": "52fe48019251416c750acafb", "gender": 0, "id": 1207268, "name": "Carvon Futrell", "order": 52}, {"cast_id": 74, "character": "Dancer", "credit_id": "52fe48019251416c750acaff", "gender": 0, "id": 1207269, "name": "Brandon Jelkes", "order": 53}, {"cast_id": 75, "character": "Dancer", "credit_id": "52fe48019251416c750acb03", "gender": 0, "id": 1207270, "name": "Micah Moch", "order": 54}, {"cast_id": 76, "character": "Dancer", "credit_id": "52fe48019251416c750acb07", "gender": 0, "id": 1207271, "name": "Hanniyah Muhammad", "order": 55}, {"cast_id": 77, "character": "Dancer", "credit_id": "52fe48019251416c750acb0b", "gender": 0, "id": 1207272, "name": "Christopher Nolen", "order": 56}, {"cast_id": 78, "character": "Dancer", "credit_id": "52fe48019251416c750acb0f", "gender": 0, "id": 1207273, "name": "Christa Oliver", "order": 57}, {"cast_id": 79, "character": "Dancer", "credit_id": "52fe48019251416c750acb13", "gender": 0, "id": 1207274, "name": "April Marie Thomas", "order": 58}, {"cast_id": 80, "character": "Dancer", "credit_id": "52fe48019251416c750acb17", "gender": 0, "id": 1207275, "name": "Bravita A. Threatt", "order": 59}, {"cast_id": 81, "character": "Mining Chief (uncredited)", "credit_id": "52fe48019251416c750acb1b", "gender": 0, "id": 1207276, "name": "Colin Bleasdale", "order": 60}, {"cast_id": 82, "character": "Veteran Miner (uncredited)", "credit_id": "52fe48019251416c750acb1f", "gender": 0, "id": 107969, "name": "Mike Bodnar", "order": 61}, {"cast_id": 83, "character": "Richard (uncredited)", "credit_id": "52fe48019251416c750acb23", "gender": 0, "id": 1207278, "name": "Matt Clayton", "order": 62}, {"cast_id": 84, "character": "Nav\'i (uncredited)", "credit_id": "52fe48019251416c750acb27", "gender": 1, "id": 147898, "name": "Nicole Dionne", "order": 63}, {"cast_id": 85, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2b", "gender": 0, "id": 1207280, "name": "Jamie Harrison", "order": 64}, {"cast_id": 86, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2f", "gender": 0, "id": 1207281, "name": "Allan Henry", "order": 65}, {"cast_id": 87, "character": "Ground Technician (uncredited)", "credit_id": "52fe48019251416c750acb33", "gender": 2, "id": 1207282, "name": "Anthony Ingruber", "order": 66}, {"cast_id": 88, "character": "Flight Crew Mechanic (uncredited)", "credit_id": "52fe48019251416c750acb37", "gender": 0, "id": 1207283, "name": "Ashley Jeffery", "order": 67}, {"cast_id": 14, "character": "Samson Pilot", "credit_id": "52fe48009251416c750ac9f9", "gender": 0, "id": 98216, "name": "Dean Knowsley", "order": 68}, {"cast_id": 89, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb3b", "gender": 0, "id": 1201399, "name": "Joseph Mika-Hunt", "order": 69}, {"cast_id": 90, "character": "Banshee (uncredited)", "credit_id": "52fe48019251416c750acb3f", "gender": 0, "id": 236696, "name": "Terry Notary", "order": 70}, {"cast_id": 91, "character": "Soldier (uncredited)", "credit_id": "52fe48019251416c750acb43", "gender": 0, "id": 1207287, "name": "Kai Pantano", "order": 71}, {"cast_id": 92, "character": "Blast Technician (uncredited)", "credit_id": "52fe48019251416c750acb47", "gender": 0, "id": 1207288, "name": "Logan Pithyou", "order": 72}, {"cast_id": 93, "character": "Vindum Raah (uncredited)", "credit_id": "52fe48019251416c750acb4b", "gender": 0, "id": 1207289, "name": "Stuart Pollock", "order": 73}, {"cast_id": 94, "character": "Hero (uncredited)", "credit_id": "52fe48019251416c750acb4f", "gender": 0, "id": 584868, "name": "Raja", "order": 74}, {"cast_id": 95, "character": "Ops Centreworker (uncredited)", "credit_id": "52fe48019251416c750acb53", "gender": 0, "id": 1207290, "name": "Gareth Ruck", "order": 75}, {"cast_id": 96, "character": "Engineer (uncredited)", "credit_id": "52fe48019251416c750acb57", "gender": 0, "id": 1062463, "name": "Rhian Sheehan", "order": 76}, {"cast_id": 97, "character": "Col. Quaritch\'s Mech Suit (uncredited)", "credit_id": "52fe48019251416c750acb5b", "gender": 0, "id": 60656, "name": "T. J. Storm", "order": 77}, {"cast_id": 98, "character": "Female Marine (uncredited)", "credit_id": "52fe48019251416c750acb5f", "gender": 0, "id": 1207291, "name": "Jodie Taylor", "order": 78}, {"cast_id": 99, "character": "Ikran Clan Leader (uncredited)", "credit_id": "52fe48019251416c750acb63", "gender": 1, "id": 1186027, "name": "Alicia Vela-Bailey", "order": 79}, {"cast_id": 100, "character": "Geologist (uncredited)", "credit_id": "52fe48019251416c750acb67", "gender": 0, "id": 1207292, "name": "Richard Whiteside", "order": 80}, {"cast_id": 101, "character": "Na\'vi (uncredited)", "credit_id": "52fe48019251416c750acb6b", "gender": 0, "id": 103259, "name": "Nikie Zambo", "order": 81}, {"cast_id": 102, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48019251416c750acb6f", "gender": 1, "id": 42286, "name": "Julene Renee", "order": 82}]'

In [43]:
import ast

def convert3(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3:
            L.append(i['name'])
            counter += 1
        else:
            break  # ✅ break goes inside the if-else
    return L

In [50]:
movies['cast_x']=movies['cast_x'].apply(convert3)

In [48]:
print(movies.columns)

Index(['id', 'title', 'overview', 'genres', 'keywords', 'cast_x', 'crew_y',
       'cast_y', 'crew_y', 'movie_id_x', 'movie_id_y'],
      dtype='object')

In [51]:
movies.head()

,id,title,overview,genres,keywords,cast_x,crew_y,cast_y,crew_y,movie_id_x,movie_id_y
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",19995,19995
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",285,285
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",206647,206647
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",49026,49026
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",49529,49529

In [52]:
movies['cast_y']=movies['cast_y'].apply(convert3)

In [53]:
movies.head()

,id,title,overview,genres,keywords,cast_x,crew_y,cast_y,crew_y,movie_id_x,movie_id_y
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",19995,19995
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",285,285
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",206647,206647
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",49026,49026
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",49529,49529

In [58]:
import ast

def fetch_director(obj):
    try:
        for i in ast.literal_eval(obj):
            if i['job'] == 'Director':
                return i['name']
    except:
        return None  # Fallback if the string is malformed

# Apply to your DataFrame
movies['director'] = movies['crew_y'].apply(fetch_director)

ValueError: cannot reindex on an axis with duplicate labels

In [59]:
movies['crew_y'].apply(fetch_director)

crew_y    None
crew_y    None
dtype: object

In [60]:
print(movies['crew_y'].iloc[0])

crew_y    [{"credit_id": "52fe48009251416c750aca23", "de...
crew_y    [{"credit_id": "52fe48009251416c750aca23", "de...
Name: 0, dtype: object

In [62]:
movies=movies.reset_index(drop=True)

In [64]:
import ast

def fetch_director(obj):
    try:
        for i in ast.literal_eval(obj):
            if i.get('job') == 'Director':
                return i.get('name')
    except (ValueError, SyntaxError):
        return None

In [65]:
movies['director'] = movies['crew_y'].apply(fetch_director)

ValueError: cannot reindex on an axis with duplicate labels

In [66]:
movies = movies.reset_index(drop=True)

In [67]:
movies.head()

,id,title,overview,genres,keywords,cast_x,crew_y,cast_y,crew_y,movie_id_x,movie_id_y
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",19995,19995
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",285,285
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",206647,206647
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",49026,49026
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",49529,49529

In [68]:
print(movies.index.is_unique)

True

In [69]:
movies["director"] = movies["crew_y"].apply(fetch_director)

ValueError: cannot reindex on an axis with duplicate labels

In [70]:
movies = movies.loc[:, ~movies.columns.duplicated()]

In [71]:
print(movies.columns)

Index(['id', 'title', 'overview', 'genres', 'keywords', 'cast_x', 'crew_y',
       'cast_y', 'movie_id_x', 'movie_id_y'],
      dtype='object')

In [74]:
movies["director"] = movies["crew_y"].apply(fetch_director)
movies["director"]  # This will show the output

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4          Andrew Stanton
              ...
4813     Robert Rodriguez
4814         Edward Burns
4815          Scott Smith
4816          Daniel Hsia
4817     Brian Herzlinger
Name: director, Length: 4818, dtype: object

In [75]:
movies.head()

,id,title,overview,genres,keywords,cast_x,crew_y,cast_y,movie_id_x,movie_id_y,director
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",19995,19995,James Cameron
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[Johnny Depp, Orlando Bloom, Keira Knightley]",285,285,Gore Verbinski
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",206647,206647,Sam Mendes
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[Christian Bale, Michael Caine, Gary Oldman]",49026,49026,Christopher Nolan
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",49529,49529,Andrew Stanton

In [76]:
import ast

def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [77]:
# Remove duplicate columns
movies = movies.loc[:, ~movies.columns.duplicated()]

In [78]:
# Reset index to avoid duplicate index labels
movies = movies.reset_index(drop=True)

In [79]:
# Apply the function
movies["director"] = movies["crew_y"].apply(fetch_director)

In [80]:
movies.head()

,id,title,overview,genres,keywords,cast_x,crew_y,cast_y,movie_id_x,movie_id_y,director
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",19995,19995,[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[Johnny Depp, Orlando Bloom, Keira Knightley]",285,285,[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",206647,206647,[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[Christian Bale, Michael Caine, Gary Oldman]",49026,49026,[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",49529,49529,[Andrew Stanton]

In [81]:
movies.drop(columns=["crew_y"], inplace=True)

In [82]:
movies[["title", "director"]].head()

                                      title             director
0                                    Avatar      [James Cameron]
1  Pirates of the Caribbean: At World's End     [Gore Verbinski]
2                                   Spectre         [Sam Mendes]
3                     The Dark Knight Rises  [Christopher Nolan]
4                               John Carter     [Andrew Stanton]

In [83]:
movies.head()

,id,title,overview,genres,keywords,cast_x,cast_y,movie_id_x,movie_id_y,director
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",19995,19995,[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[Johnny Depp, Orlando Bloom, Keira Knightley]",285,285,[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[Daniel Craig, Christoph Waltz, Léa Seydoux]",206647,206647,[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[Christian Bale, Michael Caine, Gary Oldman]",49026,49026,[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[Taylor Kitsch, Lynn Collins, Samantha Morton]",49529,49529,[Andrew Stanton]

In [84]:
movies['cast'] = movies.apply(
    lambda row: list(dict.fromkeys(row['cast_x'] + row['cast_y'])),
    axis=1
)

In [85]:
movies.drop(columns=['cast_x', 'cast_y'], inplace=True)

In [86]:
movies.head()

,id,title,overview,genres,keywords,movie_id_x,movie_id_y,director,cast
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",19995,19995,[James Cameron],"[Sam Worthington, Zoe Saldana, Sigourney Weaver]"
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",285,285,[Gore Verbinski],"[Johnny Depp, Orlando Bloom, Keira Knightley]"
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",206647,206647,[Sam Mendes],"[Daniel Craig, Christoph Waltz, Léa Seydoux]"
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",49026,49026,[Christopher Nolan],"[Christian Bale, Michael Caine, Gary Oldman]"
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...",49529,49529,[Andrew Stanton],"[Taylor Kitsch, Lynn Collins, Samantha Morton]"

In [87]:
# Check if there are any differences
diffs = movies[movies['movie_id_x'] != movies['movie_id_y']]
print(diffs)

         id            title  \
973   72710         The Host
974   72710         The Host
1363    268           Batman
1364    268           Batman
2883   1255         The Host
2884   1255         The Host
3656  39269  Out of the Blue
3657  39269  Out of the Blue
3705  10844  Out of the Blue
3706  10844  Out of the Blue
4281   2661           Batman
4282   2661           Batman

                                               overview  \
973   A parasitic alien soul is injected into the bo...
974   A parasitic alien soul is injected into the bo...
1363  The Dark Knight of Gotham City begins his war ...
1364  The Dark Knight of Gotham City begins his war ...
2883  Gang-du is a dim-witted man working at his fat...
2884  Gang-du is a dim-witted man working at his fat...
3656  Dennis Hopper is a hard-drinking truck driver ...
3657  Dennis Hopper is a hard-drinking truck driver ...
3705  Ordinary people find extraordinary courage in ...
3706  Ordinary people find extraordinary courage in ...
4281  The Dynamic Duo faces four super-villains who ...
4282  The Dynamic Duo faces four super-villains who ...

                                                 genres  \
973   [Action, Adventure, Romance, Science Fiction, ...
974   [Action, Adventure, Romance, Science Fiction, ...
1363                                  [Fantasy, Action]
1364                                  [Fantasy, Action]
2883                   [Horror, Drama, Science Fiction]
2884                   [Horror, Drama, Science Fiction]
3656                                            [Drama]
3657                                            [Drama]
3705                                            [Drama]
3706                                            [Drama]
4281  [Family, Adventure, Comedy, Science Fiction, C...
4282  [Family, Adventure, Comedy, Science Fiction, C...

                                               keywords  movie_id_x  \
973   [based on novel, mass murder, dystopia, genoci...       72710
974   [based on novel, mass murder, dystopia, genoci...        1255
1363  [double life, dc comics, dual identity, chemic...         268
1364  [double life, dc comics, dual identity, chemic...        2661
2883  [river, mobile phone, bravery, archer, daughte...       72710
2884  [river, mobile phone, bravery, archer, daughte...        1255
3656  [punk, independent film, coming of age, teenag...       39269
3657  [punk, independent film, coming of age, teenag...       10844
3705  [new zealand, gun rampage, police, independent...       39269
3706  [new zealand, gun rampage, police, independent...       10844
4281  [submarine, dc comics, missile, shark attack, ...         268
4282  [submarine, dc comics, missile, shark attack, ...        2661

      movie_id_y               director  \
973         1255         [Bong Joon-ho]
974        72710        [Andrew Niccol]
1363        2661  [Leslie H. Martinson]
1364         268           [Tim Burton]
2883        1255         [Bong Joon-ho]
2884       72710        [Andrew Niccol]
3656       10844       [Robert Sarkies]
3657       39269        [Dennis Hopper]
3705       10844       [Robert Sarkies]
3706       39269        [Dennis Hopper]
4281        2661  [Leslie H. Martinson]
4282         268           [Tim Burton]

                                                   cast
973   [Saoirse Ronan, Diane Kruger, Jake Abel, Song ...
974   [Song Kang-ho, Park Hae-il, Bae Doona, Saoirse...
1363  [Jack Nicholson, Michael Keaton, Kim Basinger,...
1364  [Adam West, Burt Ward, Lee Meriwether, Jack Ni...
2883  [Saoirse Ronan, Diane Kruger, Jake Abel, Song ...
2884  [Song Kang-ho, Park Hae-il, Bae Doona, Saoirse...
3656  [Dennis Hopper, Raymond Burr, Sharon Farrell, ...
3657  [Karl Urban, Tandi Wright, Simon Ferry, Dennis...
3705  [Dennis Hopper, Raymond Burr, Sharon Farrell, ...
3706  [Karl Urban, Tandi Wright, Simon Ferry, Dennis...
4281  [Jack Nicholson, Michael Keaton, Kim Basinger,...
4282  [Adam West, Burt Ward, Lee Meriwether, Jack Ni...

In [88]:
# Show just the relevant columns to compare
print(diffs[['id', 'title', 'movie_id_x', 'movie_id_y']])

         id            title  movie_id_x  movie_id_y
973   72710         The Host       72710        1255
974   72710         The Host        1255       72710
1363    268           Batman         268        2661
1364    268           Batman        2661         268
2883   1255         The Host       72710        1255
2884   1255         The Host        1255       72710
3656  39269  Out of the Blue       39269       10844
3657  39269  Out of the Blue       10844       39269
3705  10844  Out of the Blue       39269       10844
3706  10844  Out of the Blue       10844       39269
4281   2661           Batman         268        2661
4282   2661           Batman        2661         268

In [89]:
# Use id as movie_id to avoid conflicts
movies['movie_id'] = movies['id']

In [90]:
# Drop old columns
movies.drop(columns=['movie_id_x', 'movie_id_y'], inplace=True)

In [91]:
# Verify result
print(movies[['id', 'title', 'movie_id']].head())

       id                                     title  movie_id
0   19995                                    Avatar     19995
1     285  Pirates of the Caribbean: At World's End       285
2  206647                                   Spectre    206647
3   49026                     The Dark Knight Rises     49026
4   49529                               John Carter     49529

In [92]:
different = movies[movies['id'] != movies['movie_id']]
print(different[['id', 'movie_id']])

Empty DataFrame
Columns: [id, movie_id]
Index: []

In [93]:
movies = movies.drop('id', axis=1)

In [94]:
movies.head()

,title,overview,genres,keywords,director,cast,movie_id
0,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",[James Cameron],"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",19995
1,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",[Gore Verbinski],"[Johnny Depp, Orlando Bloom, Keira Knightley]",285
2,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",[Sam Mendes],"[Daniel Craig, Christoph Waltz, Léa Seydoux]",206647
3,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",[Christopher Nolan],"[Christian Bale, Michael Caine, Gary Oldman]",49026
4,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...",[Andrew Stanton],"[Taylor Kitsch, Lynn Collins, Samantha Morton]",49529

In [97]:
movies['overview']=movies['overview'].apply(lambda x:x.split())

In [98]:
movies.head()

,title,overview,genres,keywords,director,cast,movie_id
0,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",[James Cameron],"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",19995
1,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",[Gore Verbinski],"[Johnny Depp, Orlando Bloom, Keira Knightley]",285
2,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",[Sam Mendes],"[Daniel Craig, Christoph Waltz, Léa Seydoux]",206647
3,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",[Christopher Nolan],"[Christian Bale, Michael Caine, Gary Oldman]",49026
4,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...",[Andrew Stanton],"[Taylor Kitsch, Lynn Collins, Samantha Morton]",49529

In [102]:
movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","")for i in x])
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","")for i in x])
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","")for i in x])
movies['director']=movies['director'].apply(lambda x:[i.replace(" ","")for i in x])

In [103]:
movies.head()

,title,overview,genres,keywords,director,cast,movie_id
0,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...",[JamesCameron],"[SamWorthington, ZoeSaldana, SigourneyWeaver]",19995
1,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...",[GoreVerbinski],"[JohnnyDepp, OrlandoBloom, KeiraKnightley]",285
2,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...",[SamMendes],"[DanielCraig, ChristophWaltz, LéaSeydoux]",206647
3,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...",[ChristopherNolan],"[ChristianBale, MichaelCaine, GaryOldman]",49026
4,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...",[AndrewStanton],"[TaylorKitsch, LynnCollins, SamanthaMorton]",49529

In [104]:
movies['tags']=movies['overview']+movies['genres']+movies['keywords']+movies['cast']+movies['director']

In [105]:
movies.head()

,title,overview,genres,keywords,director,cast,movie_id,tags
0,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...",[JamesCameron],"[SamWorthington, ZoeSaldana, SigourneyWeaver]",19995,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...",[GoreVerbinski],"[JohnnyDepp, OrlandoBloom, KeiraKnightley]",285,"[Captain, Barbossa,, long, believed, to, be, d..."
2,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...",[SamMendes],"[DanielCraig, ChristophWaltz, LéaSeydoux]",206647,"[A, cryptic, message, from, Bond’s, past, send..."
3,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...",[ChristopherNolan],"[ChristianBale, MichaelCaine, GaryOldman]",49026,"[Following, the, death, of, District, Attorney..."
4,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...",[AndrewStanton],"[TaylorKitsch, LynnCollins, SamanthaMorton]",49529,"[John, Carter, is, a, war-weary,, former, mili..."

In [106]:
new_df=movies[['movie_id','title','tags']]

In [107]:
new_df

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."
...,...,...,...
4813,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui..."
4814,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended..."
4815,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,..."
4816,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is..."
4817,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi..."

In [158]:
new_df['tags'].apply(lambda x:" ".join(x))

0       i n t h e 2 2 n d c e n t u r y , a p a r a p ...
1       c a p t a i n b a r b o s s a , l o n g b e l ...
2       a c r y p t i c m e s s a g e f r o m b o n d ...
3       f o l l o w i n g t h e d e a t h o f d i s t ...
4       j o h n c a r t e r i s a w a r - w e a r y , ...
                              ...
4813    e l m a r i a c h i j u s t w a n t s t o p l ...
4814    a n e w l y w e d c o u p l e ' s h o n e y m ...
4815    " s i g n e d , s e a l e d , d e l i v e r e ...
4816    w h e n a m b i t i o u s n e w y o r k a t t ...
4817    e v e r s i n c e t h e s e c o n d g r a d e ...
Name: tags, Length: 4818, dtype: object

In [110]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [161]:
print(new_df['tags'].iloc[0])
print(type(new_df['tags'].iloc[0]))

inthe22ndcentury,aparaplegicmarineisdispatchedtothemoonpandoraonauniquemission,butbecomestornbetweenfollowingordersandprotectinganaliencivilization.actionadventurefantasysciencefictioncultureclashfuturespacewarspacecolonysocietyspacetravelfuturisticromancespacealientribealienplanetcgimarinesoldierbattleloveaffairantiwarpowerrelationsmindandsoul3dsamworthingtonzoesaldanasigourneyweaverjamescameron
<class 'str'>

In [131]:
new_df['tags'] = new_df['tags'].apply(lambda x: x.lower())

C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_22260\1889842218.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: x.lower())

In [132]:
new_df.loc[:, 'tags'] = new_df['tags'].apply(lambda x: x.lower())

In [136]:
new_df.head()

   movie_id   title                                               tags
0     19995  Avatar  i   n       t   h   e       2   2   n   d     ...

In [137]:
def clean_tags(x):
    if isinstance(x, list):
        return " ".join(x).lower()
    elif isinstance(x, str):
        return x.lower()
    else:
        return ""

new_df['tags'] = new_df['tags'].apply(clean_tags)

C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_22260\2877132844.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(clean_tags)

In [138]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,i n t h e 2 2 n d ...
1,285,Pirates of the Caribbean: At World's End,c a p t a i n b a r b ...
2,206647,Spectre,a c r y p t i c m e ...
3,49026,The Dark Knight Rises,f o l l o w i n g t h ...
4,49529,John Carter,j o h n c a r t e r ...

In [153]:
import nltk

In [154]:
pip install nltk

Requirement already satisfied: nltk in e:\users\user\anaconda3\lib\site-packages (3.9.1)
Requirement already satisfied: click in e:\users\user\anaconda3\lib\site-packages (from nltk) (8.1.8)
Requirement already satisfied: joblib in e:\users\user\anaconda3\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in e:\users\user\anaconda3\lib\site-packages (from nltk) (2024.11.6)
Requirement already satisfied: tqdm in e:\users\user\anaconda3\lib\site-packages (from nltk) (4.67.1)
Requirement already satisfied: colorama in e:\users\user\anaconda3\lib\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [155]:
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [156]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))

    return " ".join(y)

In [160]:
new_df['tags'][0]

'inthe22ndcentury,aparaplegicmarineisdispatchedtothemoonpandoraonauniquemission,butbecomestornbetweenfollowingordersandprotectinganaliencivilization.actionadventurefantasysciencefictioncultureclashfuturespacewarspacecolonysocietyspacetravelfuturisticromancespacealientribealienplanetcgimarinesoldierbattleloveaffairantiwarpowerrelationsmindandsoul3dsamworthingtonzoesaldanasigourneyweaverjamescameron'

In [159]:
new_df['tags']

0       inthe22ndcentury,aparaplegicmarineisdispatched...
1       captainbarbossa,longbelievedtobedead,hascomeba...
2       acrypticmessagefrombond’spastsendshimonatrailt...
3       followingthedeathofdistrictattorneyharveydent,...
4       johncarterisawar-weary,formermilitarycaptainwh...
                              ...
4813    elmariachijustwantstoplayhisguitarandcarryonth...
4814    anewlywedcouple'shoneymoonisupendedbythearriva...
4815    "signed,sealed,delivered"introducesadedicatedq...
4816    whenambitiousnewyorkattorneysamissenttoshangha...
4817    eversincethesecondgradewhenhefirstsawherine.t....
Name: tags, Length: 4818, dtype: object

In [141]:
new_df['tags'] = new_df['tags'].apply(lambda x: x.replace(" ", ""))

C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_22260\4142263877.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: x.replace(" ", ""))

In [142]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"inthe22ndcentury,aparaplegicmarineisdispatched..."
1,285,Pirates of the Caribbean: At World's End,"captainbarbossa,longbelievedtobedead,hascomeba..."
2,206647,Spectre,acrypticmessagefrombond’spastsendshimonatrailt...
3,49026,The Dark Knight Rises,"followingthedeathofdistrictattorneyharveydent,..."
4,49529,John Carter,"johncarterisawar-weary,formermilitarycaptainwh..."

In [145]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

In [148]:
vectors=cv.fit_transform(new_df['tags']).toarray()

(4818, 5000)

In [149]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [150]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0])

In [152]:
cv.get_feature_names_out()

array(['000', '000boys', '000dminasubwaytrainthatbelongstoaverybadguy',
       ..., 'zooanimalsleavethecomfortsofman', 'zooey', 'zooeydeschanel'],
      dtype=object)

In [157]:
type(new_df['tags'][0])

str

In [162]:
print(movies['tags'].iloc[0])
print(type(movies['tags'].iloc[0]))

['In', 'the', '22nd', 'century,', 'a', 'paraplegic', 'Marine', 'is', 'dispatched', 'to', 'the', 'moon', 'Pandora', 'on', 'a', 'unique', 'mission,', 'but', 'becomes', 'torn', 'between', 'following', 'orders', 'and', 'protecting', 'an', 'alien', 'civilization.', 'Action', 'Adventure', 'Fantasy', 'ScienceFiction', 'cultureclash', 'future', 'spacewar', 'spacecolony', 'society', 'spacetravel', 'futuristic', 'romance', 'space', 'alien', 'tribe', 'alienplanet', 'cgi', 'marine', 'soldier', 'battle', 'loveaffair', 'antiwar', 'powerrelations', 'mindandsoul', '3d', 'SamWorthington', 'ZoeSaldana', 'SigourneyWeaver', 'JamesCameron']
<class 'list'>

In [163]:
new_df = movies[['movie_id', 'title', 'tags']]

In [164]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [166]:
new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_22260\487797088.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

In [167]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [168]:
new_df['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [169]:
new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_22260\4224080999.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

In [170]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [171]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features=5000, stop_words='english')

In [172]:
vectors=cv.fit_transform(new_df['tags']).toarray()

In [173]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [198]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0])

In [201]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [193]:
import nltk

In [194]:
from nltk.stem.porter import PorterStemmer

# Initialize the stemmer
ps = PorterStemmer()

In [195]:
import re

def stem(text):
    if isinstance(text, str):
        y = []
        words = re.findall(r'\w+', text)
        for i in words:
            y.append(ps.stem(i))
        return " ".join(y)
    else:
        return ""

In [196]:
new_df['tags']=new_df['tags'].apply(stem)

C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_22260\3514595201.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(stem)

In [182]:
['loved','loving','love']
['love','love','love']

['love', 'love', 'love']

In [183]:
ps.stem('love')

'love'

In [184]:
new_df['tags'][0]

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver jamescameron'

In [202]:
stem('in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver jamescameron')

'in the 22nd centuri a parapleg marin is dispatch to the moon pandora on a uniqu mission but becom torn between follow order and protect an alien civil action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav jamescameron'

In [203]:
from sklearn.metrics.pairwise.import cosine_similarity

SyntaxError: invalid syntax (3176071545.py, line 1)

In [204]:
from sklearn.metrics.pairwise import cosine_similarity

In [208]:
similarity=cosine_similarity(vectors)

In [218]:
sorted(similarity[0],reverse=True)

[np.float64(1.0),
 np.float64(0.25724787771376323),
 np.float64(0.2545875386086578),
 np.float64(0.24948506639458295),
 np.float64(0.24759378423606915),
 np.float64(0.24595492912420727),
 np.float64(0.2405626121623441),
 np.float64(0.23717082451262844),
 np.float64(0.23570226039551587),
 np.float64(0.2311250817605121),
 np.float64(0.22613350843332272),
 np.float64(0.2222222222222222),
 np.float64(0.22075539284417395),
 np.float64(0.2187974872468418),
 np.float64(0.2182178902359924),
 np.float64(0.21821789023599236),
 np.float64(0.21629522817435004),
 np.float64(0.21428571428571427),
 np.float64(0.21339479988815996),
 np.float64(0.2132007163556104),
 np.float64(0.21081851067789198),
 np.float64(0.20953951903123735),
 np.float64(0.20851441405707477),
 np.float64(0.20851441405707477),
 np.float64(0.2080125735844609),
 np.float64(0.20309059861498083),
 np.float64(0.20211302086361077),
 np.float64(0.19999999999999998),
 np.float64(0.19720265943665385),
 np.float64(0.19364916731037082),
 np.float64(0.19245008972987526),
 np.float64(0.19245008972987526),
 np.float64(0.19245008972987526),
 np.float64(0.19245008972987526),
 np.float64(0.1917988185229168),
 np.float64(0.1911797782254681),
 np.float64(0.19050019050028574),
 np.float64(0.19047619047619047),
 np.float64(0.18925832465255632),
 np.float64(0.18925832465255632),
 np.float64(0.18925832465255626),
 np.float64(0.18925832465255626),
 np.float64(0.18898223650461357),
 np.float64(0.18750000000000003),
 np.float64(0.18670401120373462),
 np.float64(0.18633899812498245),
 np.float64(0.18569533817705186),
 np.float64(0.18446619684315546),
 np.float64(0.18446619684315546),
 np.float64(0.18446619684315546),
 np.float64(0.181848241863327),
 np.float64(0.1805787796286538),
 np.float64(0.1800205749557739),
 np.float64(0.1796053020267749),
 np.float64(0.1779149987213721),
 np.float64(0.17766726362967533),
 np.float64(0.17407765595569785),
 np.float64(0.17391639824998364),
 np.float64(0.17376201171422898),
 np.float64(0.17201561551404662),
 np.float64(0.17149858514250882),
 np.float64(0.17010345435994292),
 np.float64(0.16933350266692065),
 np.float64(0.16798421022632318),
 np.float64(0.16666666666666669),
 np.float64(0.16666666666666669),
 np.float64(0.16666666666666666),
 np.float64(0.16666666666666666),
 np.float64(0.16666666666666666),
 np.float64(0.16666666666666666),
 np.float64(0.16343011261515333),
 np.float64(0.16343011261515333),
 np.float64(0.1617875572323585),
 np.float64(0.16037507477489604),
 np.float64(0.16037507477489604),
 np.float64(0.16012815380508713),
 np.float64(0.16012815380508713),
 np.float64(0.16012815380508713),
 np.float64(0.15811388300841897),
 np.float64(0.15748519708717798),
 np.float64(0.15430334996209188),
 np.float64(0.15319083833634298),
 np.float64(0.15214515486254612),
 np.float64(0.15214515486254612),
 np.float64(0.15214515486254612),
 np.float64(0.15214515486254612),
 np.float64(0.15075567228888181),
 np.float64(0.1496710850223124),
 np.float64(0.14907119849998599),
 np.float64(0.14907119849998599),
 np.float64(0.14907119849998596),
 np.float64(0.14907119849998596),
 np.float64(0.1481668148335556),
 np.float64(0.1474419561548971),
 np.float64(0.14731391274719738),
 np.float64(0.14547859349066158),
 np.float64(0.14547859349066158),
 np.float64(0.14547859349066158),
 np.float64(0.14506471329641488),
 np.float64(0.14506471329641488),
 np.float64(0.14433756729740646),
 np.float64(0.14360673947588817),
 np.float64(0.14291548761875733),
 np.float64(0.14291548761875733),
 np.float64(0.14213381090374028),
 np.float64(0.14213381090374028),
 np.float64(0.14213381090374028),
 np.float64(0.1414213562373095),
 np.float64(0.14085904245475275),
 np.float64(0.14085904245475275),
 np.float64(0.13900960937138318),
 np.float64(0.13900960937138318),
 np.float64(0.13900960937138318),
 np.float64(0.1388888888888889),
 np.float64(0.1388888888888889),
 np.float64(0.1388888888888889),
 np.float64(0.1386750490563073),
 np.float64(0.1386750490563073),
 np.float64(0.13736056394868904),
 np.float64(0.13736056394868904),
 np.float64(0.13699915608779772),
 np.float64(0.13608276348795434),
 np.float64(0.13608276348795434),
 np.float64(0.13608276348795434),
 np.float64(0.13608276348795434),
 np.float64(0.13562224520112248),
 np.float64(0.13518451760896877),
 np.float64(0.13518451760896877),
 np.float64(0.13518451760896877),
 np.float64(0.13471506281091267),
 np.float64(0.1336306209562122),
 np.float64(0.13344012817090595),
 np.float64(0.13333333333333333),
 np.float64(0.13333333333333333),
 np.float64(0.13333333333333333),
 np.float64(0.13333333333333333),
 np.float64(0.13333333333333333),
 np.float64(0.13176156917368248),
 np.float64(0.13176156917368248),
 np.float64(0.13130643285972254),
 np.float64(0.13074409009212268),
 np.float64(0.13074409009212268),
 np.float64(0.13074409009212268),
 np.float64(0.13074409009212268),
 np.float64(0.1301448015738384),
 np.float64(0.1301448015738384),
 np.float64(0.12909944487358055),
 np.float64(0.12858612496840993),
 np.float64(0.12858612496840993),
 np.float64(0.12830005981991682),
 np.float64(0.12830005981991682),
 np.float64(0.1270821419438372),
 np.float64(0.1270821419438372),
 np.float64(0.1259881576697424),
 np.float64(0.1259881576697424),
 np.float64(0.1259881576697424),
 np.float64(0.1256297269074015),
 np.float64(0.1256297269074015),
 np.float64(0.1256297269074015),
 np.float64(0.125),
 np.float64(0.12422599874998833),
 np.float64(0.12422599874998831),
 np.float64(0.12422599874998831),
 np.float64(0.12403473458920847),
 np.float64(0.12379689211803457),
 np.float64(0.12379689211803457),
 np.float64(0.12379689211803457),
 np.float64(0.12379689211803457),
 np.float64(0.12379689211803457),
 np.float64(0.1228682967957476),
 np.float64(0.1228682967957476),
 np.float64(0.1217161238900369),
 np.float64(0.1217161238900369),
 np.float64(0.1217161238900369),
 np.float64(0.1215541595815788),
 np.float64(0.1215541595815788),
 np.float64(0.12155415958157878),
 np.float64(0.12126781251816647),
 np.float64(0.12126781251816647),
 np.float64(0.1203858530857692),
 np.float64(0.12028130608117205),
 np.float64(0.11973686801784994),
 np.float64(0.11904761904761904),
 np.float64(0.11904761904761904),
 np.float64(0.11785113019775793),
 np.float64(0.11785113019775793),
 np.float64(0.11785113019775793),
 np.float64(0.11785113019775793),
 np.float64(0.11785113019775792),
 np.float64(0.11785113019775792),
 np.float64(0.11785113019775792),
 np.float64(0.1178511301977579),
 np.float64(0.1178511301977579),
 np.float64(0.1178511301977579),
 np.float64(0.1178511301977579),
 np.float64(0.1178511301977579),
 np.float64(0.11669000700233413),
 np.float64(0.11669000700233413),
 np.float64(0.11669000700233413),
 np.float64(0.1160517706371319),
 np.float64(0.1160517706371319),
 np.float64(0.1160517706371319),
 np.float64(0.1160517706371319),
 np.float64(0.1160517706371319),
 np.float64(0.1160517706371319),
 np.float64(0.11547005383792512),
 np.float64(0.11470786693528086),
 np.float64(0.11470786693528086),
 np.float64(0.11470786693528086),
 np.float64(0.11470786693528086),
 np.float64(0.11470786693528086),
 np.float64(0.11433239009500587),
 np.float64(0.11433239009500587),
 np.float64(0.11433239009500587),
 np.float64(0.11433239009500587),
 np.float64(0.11340230290662862),
 np.float64(0.1126872339638022),
 np.float64(0.1126872339638022),
 np.float64(0.1126872339638022),
 np.float64(0.1126872339638022),
 np.float64(0.1126872339638022),
 np.float64(0.11236664374387369),
 np.float64(0.11180339887498947),
 np.float64(0.11180339887498947),
 np.float64(0.11180339887498947),
 np.float64(0.11180339887498947),
 np.float64(0.11180339887498947),
 np.float64(0.11180339887498947),
 np.float64(0.11180339887498947),
 np.float64(0.11135885079684349),
 np.float64(0.11135885079684349),
 np.float64(0.11135885079684349),
 np.float64(0.11135885079684349),
 np.float64(0.1111111111111111),
 np.float64(0.1111111111111111),
 np.float64(0.1111111111111111),
 np.float64(0.1111111111111111),
 np.float64(0.1111111111111111),
 np.float64(0.1111111111111111),
 np.float64(0.11037769642208699),
 np.float64(0.10959932487023819),
 np.float64(0.10959932487023819),
 np.float64(0.10959932487023819),
 np.float64(0.10959932487023819),
 np.float64(0.10959932487023819),
 np.float64(0.10959932487023819),
 np.float64(0.10959932487023819),
 np.float64(0.10959932487023819),
 np.float64(0.10942202738310211),
 np.float64(0.10942202738310211),
 np.float64(0.1091089451179962),
 np.float64(0.1091089451179962),
 np.float64(0.10910894511799618),
 np.float64(0.10910894511799618),
 np.float64(0.10910894511799618),
 np.float64(0.10910894511799618),
 np.float64(0.10910894511799618),
 np.float64(0.10910894511799618),
 np.float64(0.10910894511799618),
 np.float64(0.10910894511799618),
 np.float64(0.10814761408717502),
 np.float64(0.10814761408717502),
 np.float64(0.10814761408717502),
 np.float64(0.10814761408717502),
 np.float64(0.10814761408717502),
 np.float64(0.10814761408717502),
 np.float64(0.10814761408717502),
 np.float64(0.10669739994407998),
 np.float64(0.10660035817780521),
 np.float64(0.10660035817780521),
 np.float64(0.10660035817780521),
 np.float64(0.10660035817780521),
 np.float64(0.10660035817780521),
 np.float64(0.10660035817780521),
 np.float64(0.10660035817780521),
 np.float64(0.10583343916682542),
 np.float64(0.10583343916682542),
 np.float64(0.10540925533894598),
 np.float64(0.10540925533894598),
 np.float64(0.10540925533894598),
 np.float64(0.10540925533894598),
 np.float64(0.10540925533894598),
 np.float64(0.10540925533894598),
 np.float64(0.10540925533894598),
 np.float64(0.10482848367219183),
 np.float64(0.10425720702853739),
 np.float64(0.10425720702853739),
 np.float64(0.10425720702853739),
 np.float64(0.10425720702853739),
 np.float64(0.10425720702853739),
 np.float64(0.10425720702853739),
 np.float64(0.10425720702853739),
 np.float64(0.10425720702853739),
 np.float64(0.10425720702853739),
 np.float64(0.10425720702853739),
 np.float64(0.10411584125907071),
 np.float64(0.10411584125907071),
 np.float64(0.10411584125907071),
 np.float64(0.10411584125907071),
 np.float64(0.10411584125907071),
 np.float64(0.10314212462587934),
 np.float64(0.10286889997472794),
 np.float64(0.10286889997472794),
 np.float64(0.10206207261596575),
 np.float64(0.10206207261596575),
 np.float64(0.10206207261596575),
 np.float64(0.10206207261596575),
 np.float64(0.10206207261596575),
 np.float64(0.10206207261596575),
 np.float64(0.10206207261596575),
 np.float64(0.10206207261596575),
 np.float64(0.10166571355506977),
 np.float64(0.10166571355506977),
 np.float64(0.10166571355506977),
 np.float64(0.10166571355506977),
 np.float64(0.10166571355506977),
 np.float64(0.10166571355506977),
 np.float64(0.10166571355506977),
 np.float64(0.10166571355506977),
 np.float64(0.10050378152592121),
 np.float64(0.10050378152592121),
 np.float64(0.10050378152592121),
 np.float64(0.10050378152592121),
 np.float64(0.10050378152592121),
 np.float64(0.10050378152592121),
 np.float64(0.10050378152592121),
 np.float64(0.10050378152592121),
 np.float64(0.1),
 np.float64(0.1),
 np.float64(0.1),
 np.float64(0.1),
 np.float64(0.1),
 np.float64(0.1),
 np.float64(0.1),
 np.float64(0.1),
 np.float64(0.1),
 np.float64(0.1),
 np.float64(0.09960238411119947),
 np.float64(0.09938079899999065),
 np.float64(0.09829463743659808),
 np.float64(0.09829463743659808),
 np.float64(0.09805806756909201),
 np.float64(0.09805806756909201),
 np.float64(0.09805806756909201),
 np.float64(0.09805806756909201),
 np.float64(0.09805806756909201),
 np.float64(0.09805806756909201),
 np.float64(0.09805806756909201),
 np.float64(0.0975342893301088),
 np.float64(0.09724332766526303),
 np.float64(0.09724332766526303),
 np.float64(0.09724332766526303),
 np.float64(0.09622504486493763),
 np.float64(0.09622504486493763),
 np.float64(0.09622504486493763),
 np.float64(0.09622504486493763),
 np.float64(0.09622504486493762),
 np.float64(0.09622504486493762),
 np.float64(0.09622504486493762),
 np.float64(0.09622504486493762),
 np.float64(0.09622504486493762),
 np.float64(0.09523809523809523),
 np.float64(0.09496714704969829),
 np.float64(0.0944911182523068),
 np.float64(0.0944911182523068),
 np.float64(0.0944911182523068),
 np.float64(0.0944911182523068),
 np.float64(0.0944911182523068),
 np.float64(0.0944911182523068),
 np.float64(0.0944911182523068),
 np.float64(0.0944911182523068),
 np.float64(0.0944911182523068),
 np.float64(0.0944911182523068),
 np.float64(0.09435641951204964),
 np.float64(0.09428090415820634),
 np.float64(0.09428090415820634),
 np.float64(0.09428090415820634),
 np.float64(0.09335200560186731),
 np.float64(0.09284766908852593),
 np.float64(0.09284766908852593),
 np.float64(0.09284766908852593),
 np.float64(0.09284766908852593),
 np.float64(0.09284766908852593),
 np.float64(0.09284766908852593),
 np.float64(0.09284766908852593),
 np.float64(0.09284766908852593),
 np.float64(0.09284766908852593),
 np.float64(0.09284766908852593),
 np.float64(0.09259259259259259),
 np.float64(0.09245003270420485),
 np.float64(0.09245003270420485),
 np.float64(0.09245003270420485),
 np.float64(0.09245003270420485),
 np.float64(0.09245003270420485),
 np.float64(0.09245003270420485),
 np.float64(0.09245003270420485),
 np.float64(0.09245003270420485),
 np.float64(0.09157370929912602),
 np.float64(0.09128709291752768),
 np.float64(0.09128709291752768),
 np.float64(0.09128709291752768),
 np.float64(0.09128709291752768),
 np.float64(0.09128709291752768),
 np.float64(0.09128709291752768),
 np.float64(0.09128709291752768),
 np.float64(0.09128709291752768),
 np.float64(0.09128709291752768),
 np.float64(0.09128709291752768),
 np.float64(0.09128709291752768),
 np.float64(0.0909241209316635),
 np.float64(0.09072184232530289),
 np.float64(0.09072184232530289),
 np.float64(0.09072184232530289),
 np.float64(0.09072184232530289),
 np.float64(0.08989331499509895),
 np.float64(0.08989331499509895),
 np.float64(0.08989331499509895),
 np.float64(0.08980265101338746),
 np.float64(0.08980265101338746),
 np.float64(0.08980265101338746),
 np.float64(0.08980265101338746),
 np.float64(0.08980265101338746),
 np.float64(0.08980265101338746),
 np.float64(0.08980265101338746),
 np.float64(0.08980265101338746),
 np.float64(0.08980265101338746),
 np.float64(0.08980265101338746),
 np.float64(0.08980265101338746),
 np.float64(0.08980265101338746),
 np.float64(0.08980265101338746),
 np.float64(0.0890870806374748),
 np.float64(0.0890870806374748),
 np.float64(0.0890870806374748),
 np.float64(0.0890870806374748),
 np.float64(0.0890870806374748),
 np.float64(0.0890870806374748),
 np.float64(0.0890870806374748),
 np.float64(0.0890870806374748),
 np.float64(0.08883363181483767),
 np.float64(0.08838834764831843),
 np.float64(0.08838834764831843),
 np.float64(0.08838834764831843),
 np.float64(0.08838834764831843),
 np.float64(0.08838834764831843),
 np.float64(0.08838834764831843),
 np.float64(0.08838834764831843),
 np.float64(0.08838834764831843),
 np.float64(0.08838834764831843),
 np.float64(0.08838834764831843),
 np.float64(0.08838834764831843),
 np.float64(0.08838834764831843),
 np.float64(0.08838834764831843),
 np.float64(0.08838834764831843),
 np.float64(0.08830215713766959),
 np.float64(0.08830215713766959),
 np.float64(0.08830215713766959),
 np.float64(0.08753762190648169),
 np.float64(0.08753762190648169),
 np.float64(0.08703882797784893),
 np.float64(0.08703882797784893),
 np.float64(0.08703882797784893),
 np.float64(0.08703882797784893),
 np.float64(0.08703882797784893),
 np.float64(0.08703882797784893),
 np.float64(0.08703882797784893),
 np.float64(0.08703882797784893),
 np.float64(0.08703882797784893),
 np.float64(0.08703882797784893),
 np.float64(0.08679260732054925),
 np.float64(0.08679260732054925),
 np.float64(0.08606629658238703),
 np.float64(0.08606629658238703),
 np.float64(0.08606629658238703),
 np.float64(0.08606629658238703),
 np.float64(0.08606629658238703),
 np.float64(0.08606629658238703),
 np.float64(0.08606629658238703),
 np.float64(0.08606629658238703),
 np.float64(0.08606629658238703),
 np.float64(0.08606629658238703),
 np.float64(0.08606629658238703),
 np.float64(0.08574929257125441),
 np.float64(0.08574929257125441),
 np.float64(0.08574929257125441),
 np.float64(0.08574929257125441),
 np.float64(0.08574929257125441),
 np.float64(0.08574929257125441),
 np.float64(0.08574929257125441),
 np.float64(0.08574929257125441),
 np.float64(0.08535791995526398),
 np.float64(0.08535791995526398),
 np.float64(0.08535791995526398),
 np.float64(0.08535791995526398),
 np.float64(0.08535791995526398),
 np.float64(0.08535791995526398),
 np.float64(0.08466675133346033),
 np.float64(0.08466675133346033),
 np.float64(0.08451542547285165),
 np.float64(0.08451542547285165),
 np.float64(0.08451542547285165),
 np.float64(0.08451542547285165),
 np.float64(0.08451542547285165),
 np.float64(0.08451542547285165),
 np.float64(0.08451542547285165),
 np.float64(0.08451542547285165),
 np.float64(0.08451542547285165),
 np.float64(0.08399210511316159),
 np.float64(0.08399210511316159),
 np.float64(0.08399210511316159),
 np.float64(0.08399210511316159),
 np.float64(0.08333333333333333),
 np.float64(0.08333333333333333),
 np.float64(0.08333333333333333),
 np.float64(0.08333333333333333),
 np.float64(0.08333333333333333),
 np.float64(0.08333333333333333),
 np.float64(0.08333333333333333),
 np.float64(0.08333333333333333),
 np.float64(0.08333333333333333),
 np.float64(0.08333333333333333),
 np.float64(0.08333333333333333),
 np.float64(0.08333333333333333),
 np.float64(0.08333333333333333),
 np.float64(0.08333333333333333),
 np.float64(0.08333333333333333),
 np.float64(0.08333333333333333),
 np.float64(0.08333333333333333),
 np.float64(0.08333333333333333),
 np.float64(0.08333333333333333),
 np.float64(0.08268982305947231),
 np.float64(0.08219949365267865),
 np.float64(0.08219949365267865),
 np.float64(0.08219949365267865),
 np.float64(0.08219949365267865),
 np.float64(0.08219949365267865),
 np.float64(0.08219949365267865),
 np.float64(0.08219949365267865),
 np.float64(0.08219949365267865),
 np.float64(0.08219949365267865),
 np.float64(0.08144629623753681),
 np.float64(0.08111071056538127),
 np.float64(0.08111071056538127),
 np.float64(0.08111071056538127),
 np.float64(0.08111071056538127),
 np.float64(0.08111071056538127),
 np.float64(0.08111071056538127),
 np.float64(0.08111071056538127),
 np.float64(0.08111071056538127),
 np.float64(0.08111071056538127),
 np.float64(0.08084520834544431),
 np.float64(0.08084520834544431),
 np.float64(0.08084520834544431),
 np.float64(0.08084520834544431),
 np.float64(0.08084520834544431),
 np.float64(0.08084520834544431),
 np.float64(0.08084520834544431),
 np.float64(0.08084520834544431),
 np.float64(0.08084520834544431),
 np.float64(0.08084520834544431),
 np.float64(0.08084520834544431),
 np.float64(0.08084520834544431),
 np.float64(0.08084520834544431),
 np.float64(0.08006407690254357),
 np.float64(0.08006407690254357),
 np.float64(0.08006407690254357),
 np.float64(0.08006407690254357),
 np.float64(0.08006407690254357),
 np.float64(0.08006407690254357),
 np.float64(0.08006407690254357),
 np.float64(0.0798188571017626),
 np.float64(0.07909649964604158),
 np.float64(0.07905694150420949),
 np.float64(0.07905694150420949),
 np.float64(0.07905694150420949),
 np.float64(0.07905694150420949),
 np.float64(0.07905694150420949),
 np.float64(0.07905694150420949),
 np.float64(0.07856742013183862),
 np.float64(0.07856742013183862),
 np.float64(0.07856742013183862),
 np.float64(0.07856742013183862),
 np.float64(0.07856742013183862),
 np.float64(0.07856742013183862),
 np.float64(0.07856742013183862),
 np.float64(0.07856742013183862),
 np.float64(0.07856742013183862),
 np.float64(0.07856742013183862),
 np.float64(0.07856742013183862),
 np.float64(0.07856742013183862),
 np.float64(0.07856742013183862),
 np.float64(0.07856742013183862),
 np.float64(0.07856742013183862),
 np.float64(0.07856742013183862),
 np.float64(0.07856742013183862),
 np.float64(0.07808688094430304),
 np.float64(0.07808688094430304),

In [221]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(539, np.float64(0.25724787771376323)),
 (1194, np.float64(0.2545875386086578)),
 (507, np.float64(0.24948506639458295)),
 (260, np.float64(0.24759378423606915)),
 (1216, np.float64(0.24595492912420727))]

In [229]:
def recommend(movie):
    movie_index=new_df[new_df['title']==movie].index[0]
    distances=similarity[movie_index]
    movies_list=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [231]:
recommend('Batman Begins')

The Dark Knight
The Dark Knight Rises
Batman
Batman & Robin
Batman

In [227]:
new_df.iloc[1194].title

'Small Soldiers'

In [232]:
import pickle

In [233]:
pickle.dump(new_df,open('movies.pkl','wb'))

In [234]:
new_df['title'].values

array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
       ..., 'Signed, Sealed, Delivered', 'Shanghai Calling',
       'My Date with Drew'], dtype=object)

In [237]:
pickle.dump(new_df.to_dict(),open('movie_dict.pkl','wb'))

In [238]:
pickle.dump(similarity,open('similarity.pkl','wb'))